@{
    ViewBag.Title = "Strona startowa";
}
<h1>Baza Danych</h1>
<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Nazwa pliku:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>